### OS #########################################################################

# OS specific
.DS_Store

# IDEs
.idea/

### Python #####################################################################

# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# virtualenv(s)
.venv/

# setuptools
build/
dist/
pip-wheel-metadata/
*.egg-info/

# requirements-dev.txt
.coverage
.coverage.*
.pytest_cache/

# mypy
.dmypy.json
dmypy.json
.mypy_cache/

# pyenv
.python-version

# Jupyter Notebook
.ipynb_checkpoints

### Project ####################################################################

# Robot Framework
log.html
output.xml
report.html

# make atest
results/

# RESTinstance: robot README.rst
*.demo.json

# RESTinstance: mountebank
*.log
*.pid

# personal notes
*.md.private
