# macOS
.DS_Store

# pyc files
__pycache__/

# virtualenvs
.venv/

# pytest
.pytest_cache/

# mypy
.dmypy.json
dmypy.json
.mypy_cache/

# Robot Framework
results/
log.html
output.xml
report.html

# mountebank
node_modules/
mb.log
mb1.log
mb.pid

# pdm
dist/
.pdm-build/
.pdm-python
