*.pyc
__pycache__

.venv/
build/
dist/
pip-wheel-metadata/
src/*.egg-info

*.demo.json
results/
log.html
output.xml
report.html

mb.log
mb1.log
mb.pid
testenv_npx_mb.log

.coverage
.pytest_cache
.mypy_cache

*.private

.idea/
