-r requirements.txt

pur==5.2.2

black==18.9b0
flake8==3.7.8
prospector[with_mypy, with_pyroma, with_vulture]==1.1.6.4

pytest==4.1.1
pytest-clarity==0.1.0a1
pytest-instafail==0.4.1
pytest-spec==1.1.0
