-r requirements.txt

pur==5.2.1

black==18.9b0
check-manifest==0.37
flake8==3.7.7
mypy==0.670
pyroma==2.4

pytest==4.1.1
pytest-clarity==0.1.0a1
pytest-cov==2.6.1
pytest-instafail==0.4.1
pytest-spec==1.1.0
