version: 2

jobs:

  all_github:
    machine:
      image: ubuntu-1604:201903-01
      docker_layer_caching: true
    steps:
      - checkout

      - run:
          name: Use Python 3.7.0
          command: pyenv versions && pyenv global 3.7.0

      - run:
          name: make test build install atest
          command: make all_github

      - store_test_results:
          path: results/

      - store_artifacts:
          path: results/


  all_prepypi:
    machine:
      image: ubuntu-1604:201903-01
      docker_layer_caching: true
    steps:
      - checkout

      - run:
          name: Use Python 3.7.0
          command: pyenv versions && pyenv global 3.7.0

      - run:
          name: make build publish_pre install_pre atest
          command: make all_prepypi

      - store_test_results:
          path: results/

      - store_artifacts:
          path: results/


  all_pypi:
    machine:
      image: ubuntu-1604:201903-01
      docker_layer_caching: true
    steps:
      - checkout

      - run:
          name: Use Python 3.7.0
          command: pyenv versions && pyenv global 3.7.0

      - run:
          name: make build publish_prod install_prod atest
          command: make all_pypi

      - store_test_results:
          path: results/

      - store_artifacts:
          path: results/


workflows:
  version: 2
  make:
    jobs:
      - all_github
